In [1]:
pc <- read.csv('data/pc.csv')

In [2]:
## install.packages('lubridate')

In [3]:
library(dplyr)
library(plyr)

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Warning message:
"package 'plyr' was built under R version 3.6.3"------------------------------------------------------------------------------
You have loaded plyr after dplyr - this is likely to cause problems.
If you need functions from both plyr and dplyr, please load plyr first, then dplyr:
library(plyr); library(dplyr)
------------------------------------------------------------------------------

Attaching package: 'plyr'

The following objects are masked from 'package:dplyr':

    arrange, count, desc, failwith, id, mutate, rename, summarise,
    summarize

In [4]:
library(lubridate)

Warning message:
"package 'lubridate' was built under R version 3.6.3"
Attaching package: 'lubridate'

The following object is masked from 'package:plyr':

    here

The following object is masked from 'package:base':

    date

In [5]:
str(pc)
head(pc)

'data.frame':	1547 obs. of  14 variables:
 $ X     : int  0 1 2 3 4 5 6 7 8 9 ...
 $ date  : Factor w/ 1547 levels "2016-01-01","2016-01-02",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ all   : num  1076 1095 1096 1173 1098 ...
 $ F     : num  878 932 968 1017 902 ...
 $ M     : num  122.7 121 97.8 137.6 149.2 ...
 $ F10s  : num  249 242 262 329 223 ...
 $ F30s  : num  89.8 60.3 87 92.6 106.6 ...
 $ F40s  : num  39.5 49.4 38.1 42.3 60.7 ...
 $ F20s  : num  500 581 580 554 509 ...
 $ F19.24: num  370 444 430 393 342 ...
 $ F25.29: num  130 137 150 161 167 ...
 $ M20s  : num  34.8 26.5 24.9 48.1 74.6 ...
 $ M19.24: num  18.23 9.95 18.23 38.12 56.36 ...
 $ M25.29: num  16.58 16.58 6.63 9.95 18.23 ...

  X date       all      F         M         F10s     F30s      F40s
1 0 2016-01-01 1075.852  877.9977 122.65800 248.9928  89.80449 39.52419
2 1 2016-01-02 1094.533  931.7238 121.00046 241.8787  60.33738 49.40525
3 2 2016-01-03 1095.632  968.4837  97.79496 261.7982  86.99810 38.11261
4 3 2016-01-04 1172.557 1016.5545 137.57599 328.6705  92.61088 42.34735
5 4 2016-01-05 1097.830  902.0332 149.17874 223.3821 106.64282 60.69788
6 5 2016-01-06 1148.381 1022.2101 129.28831 308.7511  82.78850 49.40525
  F20s     F19.24   F25.29   M20s     M19.24    M25.29
1 500.4978 370.4284 130.0694 34.80854 18.233315 16.575223
2 581.0869 443.9485 137.1384 26.52067  9.945445 16.575223
3 579.6727 429.8101 149.8626 24.86339 18.233315  6.630071
4 554.2230 393.0500 161.1730 48.06936 38.124204  9.945153
5 508.9796 342.1514 166.8282 74.59033 56.357569 18.232764
6 579.6725 425.5685 154.1040 36.46634 26.521186  9.945153

In [6]:
pc$date <- as.Date(pc$date, "%Y-%m-%d")

In [7]:
str(pc)

'data.frame':	1547 obs. of  14 variables:
 $ X     : int  0 1 2 3 4 5 6 7 8 9 ...
 $ date  : Date, format: "2016-01-01" "2016-01-02" ...
 $ all   : num  1076 1095 1096 1173 1098 ...
 $ F     : num  878 932 968 1017 902 ...
 $ M     : num  122.7 121 97.8 137.6 149.2 ...
 $ F10s  : num  249 242 262 329 223 ...
 $ F30s  : num  89.8 60.3 87 92.6 106.6 ...
 $ F40s  : num  39.5 49.4 38.1 42.3 60.7 ...
 $ F20s  : num  500 581 580 554 509 ...
 $ F19.24: num  370 444 430 393 342 ...
 $ F25.29: num  130 137 150 161 167 ...
 $ M20s  : num  34.8 26.5 24.9 48.1 74.6 ...
 $ M19.24: num  18.23 9.95 18.23 38.12 56.36 ...
 $ M25.29: num  16.58 16.58 6.63 9.95 18.23 ...

In [8]:
pc <- cbind(pc, month=substr(pc$date, 1, 7))

In [9]:
str(pc)
head(pc)

'data.frame':	1547 obs. of  15 variables:
 $ X     : int  0 1 2 3 4 5 6 7 8 9 ...
 $ date  : Date, format: "2016-01-01" "2016-01-02" ...
 $ all   : num  1076 1095 1096 1173 1098 ...
 $ F     : num  878 932 968 1017 902 ...
 $ M     : num  122.7 121 97.8 137.6 149.2 ...
 $ F10s  : num  249 242 262 329 223 ...
 $ F30s  : num  89.8 60.3 87 92.6 106.6 ...
 $ F40s  : num  39.5 49.4 38.1 42.3 60.7 ...
 $ F20s  : num  500 581 580 554 509 ...
 $ F19.24: num  370 444 430 393 342 ...
 $ F25.29: num  130 137 150 161 167 ...
 $ M20s  : num  34.8 26.5 24.9 48.1 74.6 ...
 $ M19.24: num  18.23 9.95 18.23 38.12 56.36 ...
 $ M25.29: num  16.58 16.58 6.63 9.95 18.23 ...
 $ month : Factor w/ 51 levels "2016-01","2016-02",..: 1 1 1 1 1 1 1 1 1 1 ...

  X date       all      F         M         F10s     F30s      F40s
1 0 2016-01-01 1075.852  877.9977 122.65800 248.9928  89.80449 39.52419
2 1 2016-01-02 1094.533  931.7238 121.00046 241.8787  60.33738 49.40525
3 2 2016-01-03 1095.632  968.4837  97.79496 261.7982  86.99810 38.11261
4 3 2016-01-04 1172.557 1016.5545 137.57599 328.6705  92.61088 42.34735
5 4 2016-01-05 1097.830  902.0332 149.17874 223.3821 106.64282 60.69788
6 5 2016-01-06 1148.381 1022.2101 129.28831 308.7511  82.78850 49.40525
  F20s     F19.24   F25.29   M20s     M19.24    M25.29    month
1 500.4978 370.4284 130.0694 34.80854 18.233315 16.575223 2016-01
2 581.0869 443.9485 137.1384 26.52067  9.945445 16.575223 2016-01
3 579.6727 429.8101 149.8626 24.86339 18.233315  6.630071 2016-01
4 554.2230 393.0500 161.1730 48.06936 38.124204  9.945153 2016-01
5 508.9796 342.1514 166.8282 74.59033 56.357569 18.232764 2016-01
6 579.6725 425.5685 154.1040 36.46634 26.521186  9.945153 2016-01

In [10]:
pc <- subset(pc, select = -date)

In [11]:
head(pc)

  X all      F         M         F10s     F30s      F40s     F20s     F19.24
1 0 1075.852  877.9977 122.65800 248.9928  89.80449 39.52419 500.4978 370.4284
2 1 1094.533  931.7238 121.00046 241.8787  60.33738 49.40525 581.0869 443.9485
3 2 1095.632  968.4837  97.79496 261.7982  86.99810 38.11261 579.6727 429.8101
4 3 1172.557 1016.5545 137.57599 328.6705  92.61088 42.34735 554.2230 393.0500
5 4 1097.830  902.0332 149.17874 223.3821 106.64282 60.69788 508.9796 342.1514
6 5 1148.381 1022.2101 129.28831 308.7511  82.78850 49.40525 579.6725 425.5685
  F25.29   M20s     M19.24    M25.29    month
1 130.0694 34.80854 18.233315 16.575223 2016-01
2 137.1384 26.52067  9.945445 16.575223 2016-01
3 149.8626 24.86339 18.233315  6.630071 2016-01
4 161.1730 48.06936 38.124204  9.945153 2016-01
5 166.8282 74.59033 56.357569 18.232764 2016-01
6 154.1040 36.46634 26.521186  9.945153 2016-01

In [12]:
aggregate(pc$all, by=list(pc$month), FUN=sum)

   Group.1 x
1  2016-01 39151.55
2  2016-02 29871.09
3  2016-03 32888.75
4  2016-04 26572.11
5  2016-05 18611.46
6  2016-06 19977.43
7  2016-07 30191.98
8  2016-08 29244.70
9  2016-09 31886.53
10 2016-10 29650.21
11 2016-11 31253.54
12 2016-12 29502.95
13 2017-01 32373.35
14 2017-02 28341.38
15 2017-03 29008.43
16 2017-04 25162.18
17 2017-05 25736.92
18 2017-06 26034.73
19 2017-07 27494.11
20 2017-08 30048.02
21 2017-09 31683.23
22 2017-10 29209.53
23 2017-11 28101.82
24 2017-12 26857.83
25 2018-01 25945.71
26 2018-02 29283.17
27 2018-03 29566.69
28 2018-04 26552.32
29 2018-05 31021.67
30 2018-06 32119.50
31 2018-07 26418.25
32 2018-08 23373.12
33 2018-09 24491.83
34 2018-10 29278.77
35 2018-11 29494.16
36 2018-12 27876.53
37 2019-01 27698.51
38 2019-02 25416.03
39 2019-03 26702.88
40 2019-04 23383.01
41 2019-05 23145.64
42 2019-06 20663.16
43 2019-07 20359.86
44 2019-08 24653.37
45 2019-09 30623.86
46 2019-10 37913.06
47 2019-11 47316.59
48 2019-12 50665.03
49 2020-01 41925.25
50 2020-02 46762.73
51 2020-03 34452.53

In [13]:
aggregate(pc$F, by=list(pc$month), FUN=sum)

   Group.1 x
1  2016-01 36081.33
2  2016-02 27331.04
3  2016-03 20083.67
4  2016-04 19843.31
5  2016-05 16096.62
6  2016-06 17337.98
7  2016-07 23557.49
8  2016-08 24804.50
9  2016-09 27670.36
10 2016-10 26666.53
11 2016-11 28026.65
12 2016-12 26854.57
13 2017-01 29610.16
14 2017-02 25173.51
15 2017-03 25873.36
16 2017-04 22574.86
17 2017-05 22560.72
18 2017-06 22239.78
19 2017-07 24247.44
20 2017-08 24486.38
21 2017-09 29287.80
22 2017-10 25122.61
23 2017-11 23739.87
24 2017-12 23400.55
25 2018-01 24370.45
26 2018-02 26978.99
27 2018-03 26748.53
28 2018-04 23502.35
29 2018-05 22471.65
30 2018-06 23103.64
31 2018-07 19330.09
32 2018-08 20678.90
33 2018-09 20619.52
34 2018-10 22002.26
35 2018-11 23359.55
36 2018-12 24401.55
37 2019-01 24443.97
38 2019-02 23247.85
39 2019-03 23475.48
40 2019-04 19768.38
41 2019-05 19071.36
42 2019-06 17362.02
43 2019-07 16879.89
44 2019-08 22221.40
45 2019-09 26434.66
46 2019-10 31954.31
47 2019-11 39771.46
48 2019-12 44717.09
49 2020-01 36810.87
50 2020-02 42204.69
51 2020-03 30072.48

In [14]:
aggregate(pc$M, by=list(pc$month), FUN=sum)

   Group.1 x
1  2016-01 2839.368
2  2016-02 2168.063
3  2016-03 2522.777
4  2016-04 2400.119
5  2016-05 2388.516
6  2016-06 2075.241
7  2016-07 2612.284
8  2016-08 2406.749
9  2016-09 2605.654
10 2016-10 3250.439
11 2016-11 3325.028
12 2016-12 2880.807
13 2017-01 3308.453
14 2017-02 3152.643
15 2017-03 3295.192
16 2017-04 3043.245
17 2017-05 3489.124
18 2017-06 3351.549
19 2017-07 3353.206
20 2017-08 3378.069
21 2017-09 3767.592
22 2017-10 3465.920
23 2017-11 3691.345
24 2017-12 3827.263
25 2018-01 3557.084
26 2018-02 4641.117
27 2018-03 4715.706
28 2018-04 4089.155
29 2018-05 5398.614
30 2018-06 6408.057
31 2018-07 3974.785
32 2018-08 3737.756
33 2018-09 3920.086
34 2018-10 5100.256
35 2018-11 6220.755
36 2018-12 4457.130
37 2019-01 4384.198
38 2019-02 4118.991
39 2019-03 5270.983
40 2019-04 4793.610
41 2019-05 4743.884
42 2019-06 4065.949
43 2019-07 4266.512
44 2019-08 4878.145
45 2019-09 7064.445
46 2019-10 6771.059
47 2019-11 8554.575
48 2019-12 8773.371
49 2020-01 7124.115
50 2020-02 7399.268
51 2020-03 6253.907

In [17]:
aggregate(pc$F20s, by=list(pc$month), FUN=sum)

   Group.1 x
1  2016-01 21210.338
2  2016-02 16991.455
3  2016-03 13267.406
4  2016-04 13007.264
5  2016-05 10756.456
6  2016-06 11043.454
7  2016-07 15164.808
8  2016-08 15676.630
9  2016-09 17841.195
10 2016-10 17374.636
11 2016-11 17937.331
12 2016-12 16366.561
13 2017-01 18439.220
14 2017-02 16141.729
15 2017-03 17470.711
16 2017-04 15205.769
17 2017-05 14913.107
18 2017-06 14541.264
19 2017-07 15286.356
20 2017-08 15154.875
21 2017-09 19007.571
22 2017-10 15584.674
23 2017-11 14436.654
24 2017-12 13504.938
25 2018-01 14498.844
26 2018-02 17135.664
27 2018-03 17774.699
28 2018-04 15232.632
29 2018-05 14402.711
30 2018-06 13824.441
31 2018-07 11532.622
32 2018-08 12356.884
33 2018-09 12325.782
34 2018-10 12744.279
35 2018-11 12443.128
36 2018-12 11712.176
37 2019-01 13543.086
38 2019-02 13702.854
39 2019-03 13182.536
40 2019-04 11108.467
41 2019-05 11429.413
42 2019-06 10359.141
43 2019-07  9981.638
44 2019-08 13035.511
45 2019-09 15627.068
46 2019-10 18511.292
47 2019-11 22694.809
48 2019-12 23978.579
49 2020-01 20386.025
50 2020-02 24846.724
51 2020-03 17031.051

In [20]:
aggregate(pc$M20s, by=list(pc$month), FUN=sum)

   Group.1 x
1  2016-01 1291.236
2  2016-02 1135.423
3  2016-03 1369.140
4  2016-04 1208.356
5  2016-05 1332.675
6  2016-06 1155.316
7  2016-07 1171.890
8  2016-08 1108.904
9  2016-09 1302.841
10 2016-10 1829.944
11 2016-11 1882.986
12 2016-12 1594.571
13 2017-01 1853.148
14 2017-02 1740.434
15 2017-03 1929.394
16 2017-04 1703.967
17 2017-05 2018.905
18 2017-06 1815.023
19 2017-07 1624.402
20 2017-08 1594.567
21 2017-09 2141.562
22 2017-10 2047.082
23 2017-11 2350.420
24 2017-12 2139.907
25 2018-01 1778.554
26 2018-02 2877.516
27 2018-03 2990.229
28 2018-04 2416.714
29 2018-05 3097.975
30 2018-06 3530.588
31 2018-07 2128.299
32 2018-08 2120.012
33 2018-09 2285.768
34 2018-10 2922.268
35 2018-11 2922.268
36 2018-12 2239.357
37 2019-01 2294.056
38 2019-02 2312.289
39 2019-03 2928.896
40 2019-04 2713.419
41 2019-05 2774.748
42 2019-06 2421.687
43 2019-07 2257.588
44 2019-08 2655.400
45 2019-09 4031.174
46 2019-10 3940.008
47 2019-11 4989.244
48 2019-12 4680.940
49 2020-01 3799.116
50 2020-02 4203.565
51 2020-03 3384.732

In [21]:
aggregate(pc$F10s, by=list(pc$month), FUN=sum)

   Group.1 x
1  2016-01 9258.265
2  2016-02 6044.123
3  2016-03 2764.531
4  2016-04 3063.323
5  2016-05 2593.793
6  2016-06 2845.632
7  2016-07 4679.642
8  2016-08 5642.889
9  2016-09 6011.398
10 2016-10 5669.922
11 2016-11 6344.337
12 2016-12 6239.049
13 2017-01 6409.787
14 2017-02 4545.897
15 2017-03 2966.571
16 2017-04 3036.289
17 2017-05 3586.919
18 2017-06 3124.504
19 2017-07 4161.737
20 2017-08 4528.823
21 2017-09 5386.782
22 2017-10 5092.259
23 2017-11 4802.004
24 2017-12 5365.439
25 2018-01 4648.340
26 2018-02 5070.916
27 2018-03 3542.812
28 2018-04 3228.369
29 2018-05 2761.686
30 2018-06 3894.247
31 2018-07 2992.182
32 2018-08 2969.417
33 2018-09 3478.785
34 2018-10 3730.623
35 2018-11 4503.213
36 2018-12 7375.879
37 2019-01 4786.353
38 2019-02 3877.174
39 2019-03 2586.679
40 2019-04 2175.485
41 2019-05 2323.458
42 2019-06 2366.142
43 2019-07 2131.378
44 2019-08 3100.316
45 2019-09 3504.395
46 2019-10 4752.205
47 2019-11 6914.887
48 2019-12 9147.285
49 2020-01 6896.390
50 2020-02 7976.308
51 2020-03 7215.101

In [22]:
aggregate(pc$F30s, by=list(pc$month), FUN=sum)

   Group.1 x
1  2016-01 3742.321
2  2016-02 2823.228
3  2016-03 2890.582
4  2016-04 2563.637
5  2016-05 1765.219
6  2016-06 2188.984
7  2016-07 2145.485
8  2016-08 2023.407
9  2016-09 2308.256
10 2016-10 2239.499
11 2016-11 2458.397
12 2016-12 2678.699
13 2017-01 3133.334
14 2017-02 2985.999
15 2017-03 3823.707
16 2017-04 3039.320
17 2017-05 2608.539
18 2017-06 3165.608
19 2017-07 3050.546
20 2017-08 3254.009
21 2017-09 3217.526
22 2017-10 2993.015
23 2017-11 2826.035
24 2017-12 2768.504
25 2018-01 3477.117
26 2018-02 3080.013
27 2018-03 3689.000
28 2018-04 3471.505
29 2018-05 3677.774
30 2018-06 3620.243
31 2018-07 3328.379
32 2018-08 3649.710
33 2018-09 3307.331
34 2018-10 3648.307
35 2018-11 4100.136
36 2018-12 3646.904
37 2019-01 4166.086
38 2019-02 3867.206
39 2019-03 5466.848
40 2019-04 4453.741
41 2019-05 3698.822
42 2019-06 3053.352
43 2019-07 3126.318
44 2019-08 4293.777
45 2019-09 4762.444
46 2019-10 5715.214
47 2019-11 6484.165
48 2019-12 7603.915
49 2020-01 6200.720
50 2020-02 5868.162
51 2020-03 3585.164

In [23]:
aggregate(pc$F40s, by=list(pc$month), FUN=sum)

   Group.1 x
1  2016-01 1873.1647
2  2016-02 1470.8648
3  2016-03 1133.4972
4  2016-04 1177.2562
5  2016-05  948.5803
6  2016-06 1240.7773
7  2016-07 1549.9131
8  2016-08 1466.6299
9  2016-09 1506.1542
10 2016-10 1376.2889
11 2016-11 1285.9478
12 2016-12 1561.2058
13 2017-01 1633.1963
14 2017-02 1486.3922
15 2017-03 1561.2058
16 2017-04 1257.7162
17 2017-05 1421.4594
18 2017-06 1372.0542
19 2017-07 1736.2416
20 2017-08 1538.6205
21 2017-09 1657.1931
22 2017-10 1417.2247
23 2017-11 1661.4280
24 2017-12 1726.3606
25 2018-01 1727.7722
26 2018-02 1682.6017
27 2018-03 1695.3058
28 2018-04 1534.3858
29 2018-05 1580.9679
30 2018-06 1734.8300
31 2018-07 1456.7489
32 2018-08 1674.1321
33 2018-09 1479.3342
34 2018-10 1835.0522
35 2018-11 2269.8186
36 2018-12 1662.8395
37 2019-01 1919.7469
38 2019-02 1774.3544
39 2019-03 2178.0659
40 2019-04 1980.4448
41 2019-05 1585.2026
42 2019-06 1561.2058
43 2019-07 1602.1416
44 2019-08 1746.1227
45 2019-09 2494.2595
46 2019-10 2919.1447
47 2019-11 3630.5804
48 2019-12 3948.1855
49 2020-01 3288.9784
50 2020-02 3462.6027
51 2020-03 2203.4743

In [24]:
aggregate(month, pc, sum)

ERROR: Error in aggregate.data.frame(as.data.frame(x), ...): arguments must have same length

In [ ]:
pc %>% group_by(month) %>% summarise(sum_all=sum(all), sum_F=sum(F), sum_M=sum(M))

# 왜 월별정리가 안되지?